.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
   
}

h1 {
    font-size: 2.5rem;
    font-family: cursive;
    width: 50%;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 15px;
}

.auction-img {
    margin-bottom: 30px;
    background-color: #f2f2f2;
    height: 150px;
    /* margin-top: 30px; */
}


img {
    height: 120px;
    width: 120px;
}

.make {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 40px 40px;
    grid-row-gap: 20px;
    grid-column-gap: 22px;
    margin-bottom: 25px;
    background-color: #f2f2f2;
}

.p {
    font-size: 22px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* border: 1px solid gray; */
    padding-right: 10px;
    height: 38px;
    /* border-radius: 5px; */

}

button {
    border: 0;
    height: 45px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #D8D8D8;
}

/* button:hover {
    background-color: antiquewhite;
    opacity: 0.7;
}  */

.pressed {
    box-shadow: 0 0 20px white;
    background-color: green;
}

@media (max-width: 646px) {
    h1 {
        width: 90%;
    }

}

@media (max-width: 465px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto 40px auto 40px;

    }

    .p {
        width: fit-content;
        border: 0;
    }

    h1 {
        text-align: normal;
    }

    .make {
        text-align: normal;
        font-size: 1.2rem;
        width: 45%;
    }
}
